/* Reduce space between navigation links and blog details */
.navbar {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-bottom: 10px; /* Add a margin at the bottom to create space */
}

/* Increase space between blog items */
.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; /* Increase spacing between blog items */
}

/* Define the maximum width for each blog item */
.blog-item {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}
